node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.env
backend_env/
__pycache__/
*.pyc
*.pyo

# User uploaded media
backend/media/

# Local development
.vscode/
backend/venv/
backend/py_packages/
backend/db.sqlite3
